@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap");

:root {
  font-family: "Rubik", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #313e51;
  background-color: #f4f6fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // colors
  --purple: #a729f5;
  --navy: #3b4d66;
  --dark-navy: #313e51;
  --grey-navy: #626c7f;
  --light-bluish: #abc1e1;
  --light-grey: #f4f6fa;
  --pure-white: #ffffff;
  --green: #26d782;
  --red: #ee5454;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/pattern-background-mobile-light.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--light-grey);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, background-image;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  min-height: 100vh;

  &.dark {
    color: var(--pure-white);
    background-image: url("/images/pattern-background-mobile-dark.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--dark-navy);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;

  & > div:nth-child(1) {
    width: 100%;
  }
}
